h2{
	color: #003580 ;
}
#text{
	font-size: 14px;
	color: #000030;
}
.class_1{
	color: #F00;
}
.class_2{
	color: #1F87CC;
}
.class_3{
	color: #FAA53B;
}
.class_4{
	color: #0D7114;
}
.class_5{
	width:100px;
	height:160px;
}
.class_6{
	width: 200px;
	height: 130px;
}