
* {
  box-sizing: border-box;
}

.qw {
  display: flex;
background-repeat: no-repeat;

}

.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}
.nav-item {
  color: #83818c;
  padding-top:30px;
  padding-left: 50px;
  padding-right:50px;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  position: relative;
}
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: .3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 7px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 980px) {
  .nav {
    overflow: auto;
  }
}
.tribox{
position: relative;
  height:500px;
  width:1300px;
  z-index:3;
  background-image: url("../img/download_1.jpg");
}
.qq{
  margin:10px;
  border:1px solid red;
  z-index:4;


}
.tribox1{

  height:500px;
  width:1300px;
  z-index:3;
  background-image: url("../img/download_2.png");
}
.tri{
  border:1px solid red;
  margin-top:10px;
  height:200px;
  width:1000px;
  z-index:3;
  margin-left:200px;
}
.b1{
  padding-top:20px;
  border:1px solid blue;
  margin:3px;
  height:100px;
  width:200px;
  z-index:4;
  display: inline-block;
}
.csr-footer .footer-content .top a{
  text-decoration: none;
  color: inherit;
}
.csr-footer .footer-content .top a:hover{
color: white;
}


.csr-footer .footer-content .top .middle{
  position: absolute;
  left: 442px;
  top: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 157px;
}
.csr-footer .footer-content .top .middle .cooperation{
  margin-bottom: 30px;
}
.csr-footer .footer-content .top .middle .cooperation .title{
  margin-bottom: 12px;
font-size: 20px;
  color: white;
}
.csr-footer .footer-content .top .middle .content{
  font-size: 14px;
  color: #aaa;
}


.csr-footer .footer-content .top .right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 198px;
  height: 130px;
  top: 70px;
  right: 0;
  position: absolute;
  justify-content: space-between;
}
.csr-footer .footer-content .top .right .right-title{
  font-size: 22px;
  color: #eee;
  margin-bottom: 16px;
}
.csr-footer .footer-content .top .right .QR-code{
  height: 80px;
  display: flex;
  justify-content: flex-start;
}


.csr-footer .footer-content .bottom{
  box-sizing: border-box;
  border-top: 1px solid #666;
  height: 70px;
  width: 100%;
  font-size: 12px;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qw{
	display: flex;
	background-repeat: no-repeat;
}
.nav{
	display: inline-flex;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	background-color: #fff;
	padding: 0 20px;
	border-radius: 40px;
	box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
	margin: 0 auto;
}
.nav-item{
	color: #83818c;
	padding-top:30px;
	padding-left: 50px;
	padding-right:50px;
	text-decoration: none;
	transition: .3s;
	margin: 0 6px;
	z-index: 1;
	font-weight: 800;
	position: relative;
}
.nav-item:before{
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #dfe2ea;
	border-radius: 8px 8px 0 0;
	opacity: 0;
}
.nav-item:not(.is-active):hover:before{
	opacity: 1;
	bottom: 0;
}
.nav-item:not(.is-active):hover{
	color: #333;
}


.tupian_1{
	display: table;
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}


.bottom_1{
	width: 100%;
	background-color: #333;
	position: relative;
}
.middle-line{
	width: 100%;
	height: 1px;
	background-color: #666;
	position: absolute;
	bottom: 70px;
}
.csr-footer{
    margin: 0 auto;
    height: 358px;
    width: 920px;
    background-size: 100%;
}
.csr-footer .footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.csr-footer .footer-content .top{
    width: 100%;
    height: 287px;
    display: flex;
    align-items: center;
    position: relative;
}
.csr-footer .footer-content .top .left{
    position: absolute;
    font-size: 14px;
    color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    width: 173px;
    top: 70px;
}
.csr-footer .footer-content .top .left ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
ul{
	padding-left: 0;
	list-style-type: none;
}