doctype html
head
    meta(charset='utf-8')
    title &#x7F8E;&#x56E2;&#x5916;&#x5356;&#xFF0D;&#x5F00;&#x5E97;&#x7533;&#x8BF7;&#xFF0D;&#x5916;&#x5356;&#x5546;&#x5BB6;&#x5F00;&#x5E97;&#x5165;&#x9A7B;
    link(href='stylesheets/kaidian.css', type='text/css', rel='stylesheet')
.welcome-container
    header.header
        .header-content
            .header-left
                h1.logo
                    img.op-logo(alt='美团外卖开店', width='38px', height='38px', src='/images/img1/11.png')
                h1.logo-txt
                    a.link-url.slogon.bold(href='#') &#x7F8E;&#x56E2;&#x5916;&#x5356;&#x5F00;&#x5E97;
                nav
                    ul.tab-btns
                        li
                            a.tab-link.selected.bold(href='#', type='intro') &#x5E73;&#x53F0;&#x4ECB;&#x7ECD;
                        li
                            a.tab-link(href='#flow', type='flow') &#x5F00;&#x5E97;&#x6D41;&#x7A0B;
                        li
                            a.tab-link(href='#require', type='require') &#x5F00;&#x5E97;&#x8981;&#x6C42;
                        li
                            a.tab-link(href='#cost', type='cost') &#x8D44;&#x8D39;&#x67E5;&#x8BE2;
                        li
                            a.tab-link(href='#', type='question') &#x5F00;&#x5E97;&#x5E2E;&#x52A9;
                        li
                            a.open-store.bold.fix-btn(href='#') &#x7533;&#x8BF7;&#x5F00;&#x5E97;
    .header-b-pic(style='height:542.944px')
    .content
        #intro.intro
            .adv.adv-1
                .adv-title.adv-1-title
                .adv-1-pic
                .adv-ex1
                    .adv-ex-left
                        .left1
                            .top(style='background-image:url=')
            .adv.adv-2
                .adv-title.adv-2-title
                .adv-2-pic
                .adv-ex2
            .adv.adv-3
                .adv-title.adv-3-title
                .adv-3-content
            #flow.flow
                .flow-content
                    h2.title &#x5F00;&#x5E97;&#x6D41;&#x7A0B;
                    .flow-step-content
            section#require.require
                .require-content
                    h2.title &#x5F00;&#x5E97;&#x8981;&#x6C42;
                    .require-step-content
            section#cost.cost
                h2.title &#x8D44;&#x8D39;&#x67E5;&#x8BE2;
                .city-food-select
footer.foot
    h2.title.bold &#x7F8E;&#x56E2;&#x5916;&#x5356;&#x671F;&#x5F85;&#x60A8;&#x7684;&#x52A0;&#x5165;
    a.f-open-store.bold(href='#') &#x7533;&#x8BF7;&#x5F00;&#x5E97;
    a.waimai-logo(href='#')
        img(width='101px', height='62px', src='/images/img1/31.png', ;;='')
