doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        style.
            *{
                margin:0px;
                padding:0px;
            }
            .qw{
                height:65px;
                background-image: url(../images/head.jpg);
            }
            .qe{
                background-image:url(../images/reminde.jpg) ;
                background-repeat: inherit;
                margin-left:310px;
                height:60px;
                margin-bottom:20px;
            }
            li{
                color: coral;
            }
            span{
                padding-top:20px;
                color:rgb(105, 105, 105)
            }
            .te{
                width:700px;
                margin-left:340px;
            }
            .qa{
                display: inline-block;
                height:47px;
                width:692px;
                background-color:yellow;
                margin-left:350px;
            }
            .qs{
                margin-left:580px;
                font-size:14px;
            }
    body
        .qw
        .qt
            .qe
            .te
                span 资料填写过程预计需要30分钟，请您合理安排时间
                br
                span 为保证您能够顺利提交代理申请，请您准备好申请代理公司的如下资质照片或扫描件，并确保您填写的内容真实有效
                ul
                    li 营业执照
                    li 法人代表手持身份证（正反面）照片
                    li 开户许可证
            input.qa(type='button', value='开始填写信息')
            br
            a.qs(href='#') 《美团外卖代理城市细则》
