<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=&lt;device-width&gt;, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/javascript/register.js"></script>
    <link href="/stylesheets/register.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <form action="number.html" method="get" onsubmit="return toValid()">
      <input id="user" type="text" required=""><span id="usererr"></span><br>
      <input id="pass" type="passwprd" required=""><span id="passerr"></span><br>
      <input id="passtwo" type="password" requird=""><span id="passerr1"></span><br>
      <input type="submit">
    </form>
  </body>
</html>