doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=<device-width>, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        script(src='/javascript/register.js')
        link(href='/stylesheets/register.css', rel='stylesheet', type='text/css')
    body
        form(action='number.html', method='get', onsubmit='return toValid()')
            input#user(type='text', required='')
            span#usererr
            br
            input#pass(type='passwprd', required='')
            span#passerr
            br
            input#passtwo(type='password', requird='')
            span#passerr1
            br
            input(type='submit')