doctype html
head
    meta(charset='utf-8')
    title 美团闪购
    link(href='/stylesheets/shangou.css', type='text/css', rel='stylesheet')
#app
    .container
        .box.header-container
            .header
                span.header-title
                    i.header-icon
                small.header-desc
                    | 30分钟到货的生活卖场
                ul.header-nav
                    li
                        a(href='#', target='_self', data-lx="moduleClick('b_bfxifaq9')")
                            i.joininIcon.joininIcon-app
                            |商家PC客户端
                    li
                        a(href='#', target='_blank', data-lx="moduleClick('b_wo9ibmpi')") 商户登录
                    li
                        a(href='#', target='_blank', data-lx="moduleClick('b_21fp4vh9')") 开放平台
        .box.banner-container(data-lx="moduleView('b_6acz80o4',{index:0})")
            .banner
                h1 美团点评旗下即时配送购物平台
                ul#banner-index
                    li
                        p 覆盖全国市县
                        div
                            span.index-number(data-expose='true') 2500
                            |个
                    li
                        p 拥有活跃骑手
                        div
                            span.index-number(data-expose='true') 60.0
                            | 万
                    li
                        p 美团平台用户
                        div
                            span.index-number(data-expose='true') 3.1
                            | 亿
                    li
                        p 无间断配送
                        div
                            span.index-number(data-expose='true') 24
                            | 小时
                .apply-btn
                    a(role='button', href='#', target='_blank', rel='noopener noreferrer', data-lx="moduleClick('b_6mg4x34z',{index:0})") 申请入驻
        .box.tags-container
            .tags
                div(style='width: 25%;')
                    i.joininIcon.joininIcon-tags-1
                    p 覆盖多品类
                    p 零售商家
                div(style='width: 25%;')
                    i.joininIcon.joininIcon-tags-2
                    p 24小时
                    p 极速入驻
                div(style='width: 25%;')
                    i.joininIcon.joininIcon-tags-3
                    p 接入线上海量
                    p 优质客群
                div(style='width: 25%;')
                    i.joininIcon.joininIcon-tags-4
                    p 入驻0投入
                    p 省钱又省心
        .box.category-container(data-lx="moduleView('b_6acz80o4',{index:1})")
            div
                .box-title 覆盖经营品类
                ul
                    li
                        i.joininIcon.joininIcon-category-1
                        p 超市便利
                    li
                        i.joininIcon.joininIcon-category-2
                        p 果蔬生鲜
                    li
                        i.joininIcon.joininIcon-category-3
                        p 健康护理
                    li
                        i.joininIcon.joininIcon-category-4
                        p 鲜花绿植
                    li
                        i.joininIcon.joininIcon-category-5
                        p 服饰鞋帽
                    li
                        i.joininIcon.joininIcon-category-6
                        p 美妆
                    li
                        i.joininIcon.joininIcon-category-7
                        p 日用百货
                    li
                        i.joininIcon.joininIcon-category-8
                        p 母婴
        .box.feature-container(data-lx="moduleView('b_6acz80o4',{index:2})")
            div
                h3.feature-title 闪购三大助力
                ul
                    li
                        div
                            i.joininIcon.joininIcon-feature-1
                            p.feature-item-name 营销助力
                            .feature-item-desc
                                p 丰富的营销形式，轻松引流
                                p 全渠道的营销推广，专业获客
                                p 精准化定位营销对象，高质转化
                    li
                        div
                            i.joininIcon.joininIcon-feature-2
                            p.feature-item-name 配送助力
                            .feature-item-desc
                                p 2500个市县，60万骑手全天候待命
                                p 30分钟极速送达
                                p 生鲜商品，低温配送，品质保证
                                p 夜间配送，风雨无阻
                    li
                        div
                            i.joininIcon.joininIcon-feature-3
                            p.feature-item-name 科技助力
                            .feature-item-desc
                                p 商品动销，指导选品
                                p LBS热图、消费偏好、竞店关系指导运营
                                p 生活消费全景大数据全面助力经营决策
        .box.brand-container(data-lx="moduleView('b_6acz80o4',{index:3})")
            .brand
                .box-title 优秀合作品牌
                ul.brand-list.brand-list(data-expose='true')
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-16
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-17
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-15
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-7
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-8
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-12.animate
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-18
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-14
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-21
                    li(style='width: 20%;')
                        .brandIcon.brandIcon-5
                .apply-btn
                    a(role='button', href='#', target='_blank', rel='noopener noreferrer', data-lx="moduleClick('b_6mg4x34z',{index:3})") &#x7533;&#x8BF7;&#x5165;&#x9A7B;
        .box.example-container(data-lx="moduleView('b_6acz80o4',{index:4})")
            .box-title 标杆合作案列
            .example-slide
                #example-slide-dots.example-slide-dots
                    div
                        i.joininIcon.joininIcon-slide-1(data-index='0')
                    div
                        i.joininIcon.joininIcon-slide-2(data-index='1')
                    .is-active
                        i.joininIcon.joininIcon-slide-3(data-index='2')
                    div
                        i.joininIcon.joininIcon-slide-4(data-index='3')
                #example-slide(data-expose='true')
                    .slick-slider.example-slide-body.slick-vertical.slick-initialized(dir='ltr')
                        .slick-list(style='height: 278px;')
                            .slick-track(style='opacity: 1; transform: translate3d(0px, -834px, 0px); height: 1668px;')
                                .slick-slide.slick-cloned(data-index='-1', tabindex='-1', aria-hidden='true', style='width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 鲜丰水果
                                            div
                                                p 1997年，鲜丰水果创始于杭州，经历二十一年发展，
                                                p 只做一件事：一心一意做水果。
                                                p 目前门店数超1500家,拥有200多位产品专家常年驻扎300多个种植基地，全程监控种植和采摘过程，从而实现供应链的稳定性和可靠性，
                                                p 真正的做到“新鲜才好吃”！
                                                p 16年入驻美团以来，
                                                p 线上销量飞速增长，全年订单已突破1000w单。
                                .slick-slide(data-index='0', tabindex='-1', aria-hidden='true', style='outline: none; width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 百果园
                                            div
                                                p 今年4月的百果园入驻闪购2周年，百果园以品牌营销为基点，联合美团闪购媒体传播渠道打造了桂花香荔枝闪购首发传播，以今年的517吃货节为例，在吃货节当天，百果园订单突破19.1万单，访客数达16.5万，在美团的水果品类销售额、订单量双双排名第一，销售额同比增长达3倍，创历史新高。
                                                p 截止到目前，美团闪购共上线百果园门店2800家，月均GMV近1亿，覆盖52个城市，24个配送中心。

                                .slick-slide(data-index='1', tabindex='-1', aria-hidden='true', style='outline: none; width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 家乐福
                                            div
                                                p  成立于1959年的法国家乐福集团是大型综合超市概念的创始者，是欧洲第一，全球第二的跨国零售企业；在全球30多个国家运营近1万家零售商店，旗下经营多种业态：大型综合超市、超市、折扣店、便利店以及会员制量贩店，为顾客提供种类齐全的低价产品和全方位服务。通过美团闪购，30分钟将家乐福的信任送到家。
                                                p  截止18年8月，美团闪购共上线家乐福门店211家，月均GMV5000万，覆盖50个城市，70万用户。在与美团闪购合作的标杆店项目中，家乐福有8家门店达成了线上日销售1000单的成绩，更有1家门店日产订单超过了2018单。

                                .slick-slide.slick-active.slick-current(data-index='2', tabindex='-1', aria-hidden='false', style='outline: none; width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 华润万家
                                            div
                                                p 旗下拥有华润万家、苏果、Olé、blt、V+、乐购express、V&gt;nGO、Voi_la！等多个著名品牌。2017年华润万家全国自营门店实现销售1036亿元，自营门店总数达到3162家。2014年华润万家与TESCO中国业务合并，这是民族零售品牌与国际接轨、实现跨越式发展的重要一步。截至目前，合资完成后华润万家已进入全国29个省、自治区、直辖市和特别行政区，242个城市。&nbsp;9月与美团闪购合作，共同服务更多的用户。
                                .slick-slide(data-index='3', tabindex='-1', aria-hidden='true', style='outline: none; width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 鲜丰水果
                                            div
                                                p 1997年，鲜丰水果创始于杭州，经历二十一年发展，
                                                p 只做一件事：一心一意做水果。
                                                p 目前门店数超1500家,拥有200多位产品专家常年驻扎300多个种植基地，全程监控种植和采摘过程，从而实现供应链的稳定性和可靠性，
                                                p 真正的做到“新鲜才好吃”！
                                                p 16年入驻美团以来，
                                                p 线上销量飞速增长，全年订单已突破1000w单。
                                .slick-slide.slick-cloned(data-index='4', tabindex='-1', aria-hidden='true', style='width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 百果园
                                            div
                                                <p>今年4月的百果园入驻闪购2周年，百果园以品牌营销为基点，联合美团闪购媒体传播渠道打造了桂花香荔枝闪购首发传播，以今年的517吃货节为例，在吃货节当天，百果园订单突破19.1万单，访客数达16.5万，在美团的水果品类销售额、订单量双双排名第一，销售额同比增长达3倍，创历史新高。
                                                <p>截止到目前，美团闪购共上线百果园门店2800家，月均GMV近1亿，覆盖52个城市，24个配送中心。
                                .slick-slide.slick-cloned(data-index='5', tabindex='-1', aria-hidden='true', style='width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 家乐福
                                            div
                                                p 成立于1959年的法国家乐福集团是大型综合超市概念的创始者，是欧洲第一，全球第二的跨国零售企业；在全球30多个国家运营近1万家零售商店，旗下经营多种业态：大型综合超市、超市、折扣店、便利店以及会员制量贩店，为顾客提供种类齐全的低价产品和全方位服务。通过美团闪购，30分钟将家乐福的信任送到家。
                                                p 截止18年8月，美团闪购共上线家乐福门店211家，月均GMV5000万，覆盖50个城市，70万用户。在与美团闪购合作的标杆店项目中，家乐福有8家门店达成了线上日销售1000单的成绩，更有1家门店日产订单超过了2018单。
                                .slick-slide.slick-cloned(data-index='6', tabindex='-1', aria-hidden='true', style='width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 华润万家
                                            div
                                                p 旗下拥有华润万家、苏果、Olé、blt、V+、乐购express、V&gt;nGO、Voi_la！等多个著名品牌。2017年华润万家全国自营门店实现销售1036亿元，自营门店总数达到3162家。2014年华润万家与TESCO中国业务合并，这是民族零售品牌与国际接轨、实现跨越式发展的重要一步。截至目前，合资完成后华润万家已进入全国29个省、自治区、直辖市和特别行政区，242个城市。&nbsp;9月与美团闪购合作，共同服务更多的用户。
                                .slick-slide.slick-cloned(data-index='7', tabindex='-1', aria-hidden='true', style='width: 518px;')
                                    div
                                        .example-slide-item(style='width: 100%; display: inline-block;')
                                            span 鲜丰水果
                                            div
                                                p 1997年，鲜丰水果创始于杭州，经历二十一年发展，
                                                p 只做一件事：一心一意做水果。
                                                p 目前门店数超1500家,拥有200多位产品专家常年驻扎300多个种植基地，全程监控种植和采摘过程，从而实现供应链的稳定性和可靠性，
                                                p 真正的做到“新鲜才好吃”！
                                                p 16年入驻美团以来，
                                                p 线上销量飞速增长，全年订单已突破1000w单。
        .box.footer(data-lx="moduleView('b_6acz80o4',{index:5})")
            .footer
                p 联系我们：
                .footer-info
                    .footer-item.has-border.left
                        .footer-item-content
                            .footer-item-name 商家服务热线（周一至周日 9:00 - 23:00）
                            p.footer-item-num
                                a 10105557
                    .footer-item
                        .footer-item-content
                            .footer-item-name 消费者热线（周一至周日 9:00 - 23:00）
                            p.footer-item-num
                                a 10109777
                    .footer-item.left.pd
                        i.joininIcon.joininIcon-email
                        .footer-item-content
                            .footer-item-name.exmail 商务合作邮箱：
                            p.footer-item-num
                                a odg.sg.zshz@meituan.com
                .footer-record
                    span ©2018 meituan.com 京ICP证070791号
                    span.footer-backup 京公网安备11010502025545号
        .aside-qrcode
            .aside-qrcode-clue(data-lx="mouseover('b_39zcyb83')")
                i.joininIcon.joininIcon-qrcode-fixed
            .pop-qrcode
                .code
                |下载商家APP
