#zuo{
	list-style:none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.zuo{
	display: block;
	margin-left: -40px;
	color: white;
	font-size: 19px;
	height: 60px;
	line-height: 60px;
	text-indent: 25px;
}
.all_commt {
	width: 231px;
	background-color: rgb(2,21,14,0.3);
}
.img_sho{
	display: none;
}
.zuo:hover {
	background-color: #ff741c;
}
.zuo:hover .img_sho {
	display: inline;
	height: 561px;
	position: absolute;
	top: 15px;
	left: 541px;
}
.zuo>span{
	width: 10px;
	height: 10px;
	display: inline-block;
	box-shadow: 2px 2px 1px white;
	transform: rotate(-45deg);
	float: right;
	margin-right: 36px;
	margin-top: 19px;
}
#you{
	list-style: none;
	display: inline-block;
}
.you {
	width: 75px;
	height: 90px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #707e90c7;
}
.you>div{
	text-align: center;
}
.you>span{
	display: block;
}
.bigg_div {
	position:fixed;
	right: 18px;
	top: 153px;
}
.you>span:hover{
	color: #FF0000;
	display: block;
}
.img_show{
	display: none;
}
.you:hover .img_show{
	display: inline;
}
.you:hover .img_noror{
	display: none;
}
.dapin>img {
	position:absolute;
	top: 16px;
	left: 541px;
	width: 1153px;
	height: 562px;
}
.lb_img{
	display: inline-block;
	width: 3500px;
	animation: lb 3s infinite;
	
	
}
.lb_wid {
	width: 1153px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
@keyframes lb{
	0%{ margin-left: 0px;}
	50%{margin-left: -1153px;}
	100%{margin-left: -2306px;}
}
.biggest {
	margin:0 auto;
	width: 1300px;
}
.little_b>ul {
	list-style: none;
	width: 1455px;
	padding-left: 0px;
}
.little_b li {
	display: inline-block;
	margin-right: 21px;
}
.bigtu{
	float: left;
}
.lianghang{
	float: right;
	width: 1033px;
}
.lianghang>ul{
	list-style: none;
}
.lianghang li{
	display: inline-block;
	width: 270px;
	text-align: center;
}
.xiaozi{
	font-size: 14px;
    font-weight: 400;
     color: #333;
}
.tezhen{
	height: 18px;
font-size: 12px;
color: #b0b0b0;
}
.jiege{
	color: #ff6700;
}