ul{
	list-style-type: none;
	margin-left: -22px;
}
.head_more{
	float: right ;
}
.big_div{
	width: 540px;
	margin: auto;
}
.ul_active span{
	display: block;
}
li{
	display: inline-block;
	width: 220px;
    font-size: 11px;
	margin-right: 27px;
    margin-bottom: 20px;
}