.all{
	width: 300px;
}
ul {
    list-style-type: none;
}
.ul>li{
	font-size: 12px;
	display: inline;
	margin-right: 29px;
}
.big_title{
	font-size: 18px;
	color: white;
	background: blue;
}
.median_title{
	font-size: 14px;
	background: skyblue;
	font-weight: bold;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 200px;
}