ul{
	list-style-type: none;
	display: inline-block;
	vertical-align: 16px;
}
li{
	display: inline-block;
    padding-right: 20px;
}
#test{
	background-color: #0000006f;
	float: left;
}
li:hover{
	color: blue;
}
a{
	background-image: url(image/qqhy.png);
	display: inline-block;
	width: 111px;
	height: 38px;
}